/*
:root {
  --primary: #TBD;
  --secondary: #TBD;
  --tertiary: #TBD;
}
*/

 /*
  font-family: TBD
  font-family: TBD 
  */

.hero {
  background-image: url("../images/hero-img.gif");
      background-size: cover;
      background-position: center;
}